* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  position: relative; }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.clearfix {
  clear: both; }

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

.head-with-border {
  position: relative; }
.head-with-border h2 {
  text-align: center;
  background-color: pink;
  color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 15px;
  text-transform: uppercase; }
@media (max-width: 767px) {
  .head-with-border h2 {
    width: 300px; } }
.head-with-border h2:before {
  content: '';
  width: 100%;
  height: 1.5px;
  background-color: #9c9c9c;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1; }

.main-button {
  background-color: rgba(255, 192, 203, 0.8);
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
.main-button:hover {
  background-color: pink; }

.the-toggler {
  background-color: pink;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  display: none; }
@media (max-width: 767px) {
  .the-toggler {
    display: block; } }
.the-toggler span {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff; }
.the-toggler span:not(:last-child) {
  margin-bottom: 5px; }

body {
  height: auto;
  font-family: tahoma;
  font-size: 16px; }

ul, ol {
  list-style: none;
  padding: 0; }

.header {
  padding: 20px 0;
  border-bottom: 1px solid #9c9c9c;
  overflow: hidden; }
.header .logo {
  position: relative; }
@media (min-width: 768px) {
  .header .logo {
    width: 100%;
    float: none;
    text-align: center; } }
@media (min-width: 992px) {
  .header .logo {
    width: 30%;
    float: left;
    text-align: left; } }
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px; }
.header .navbar {
  overflow: hidden;
  background-color: pink;
  border-radius: 15px; }
@media (min-width: 768px) {
  .header .navbar {
    width: 90%;
    float: none;
    margin-top: 30px;
    display: block !important; } }
@media (min-width: 992px) {
  .header .navbar {
    width: 70%;
    float: left;
    margin-top: 1em; } }
@media (max-width: 767px) {
  .header .navbar {
    display: none;
    border-radius: 0; } }
.header .navbar li {
  width: 24%;
  float: left;
  font-size: 18px;
  text-align: center; }
@media (max-width: 767px) {
  .header .navbar li {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px; } }
.header .navbar li a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none; }
.header .navbar li a:hover {
  color: #8e7cad; }

.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: tahoma,arial;
  line-height: 1.7;
  text-align: center;
  color: #5e5e5e;
  width: 66%;
  margin: 30px auto; }
.slider img {
  max-width: 100%;
  width: 100%;
  margin: auto; }
.slider .bullets {
  text-align: center; }
.slider .bullets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border-radius: 50%;
  border: 3px solid #9c9c9c;
  cursor: pointer; }
.slider .bullets li.active, .slider .bullets li:hover {
  border: 3px solid #333;
  background-color: #fff; }

@media (min-width: 992px) {
  .services .service-box {
    float: left;
    width: 33.3333333333%; }
  .services .service-box:not(:last-of-type) {
    padding-right: 20px; } }
@media (max-width: 767px) {
  .services .service-box i {
    display: block;
    margin-bottom: 15px; } }
.services .service-box .service-title {
  color: #666; }
.services .service-box .service-title i {
  font-size: 35px;
  position: relative;
  top: 4px; }
.services .service-box .service-desc {
  color: #777;
  line-height: 1.5; }
.services .service-box .link {
  color: #e2494c;
  text-decoration: none; }

.our-playrs .playr-box {
  padding-right: 20px;
  border: 2px solid pink; }
@media (min-width: 768px) {
  .our-playrs .playr-box {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 40px; } }
@media (min-width: 992px) {
  .our-playrs .playr-box {
    width: 33.3333333333%;
    text-align: left;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px; } }
@media (min-width: 1200px) {
  .our-playrs .playr-box {
    width: 20%; } }
@media (max-width: 767px) {
  .our-playrs .playr-box {
    margin-bottom: 40px; } }
.our-playrs .playr-box .playr-img {
  width: 300px;
  height: 210px;
  max-width: 100%;
  border-bottom: 1px solid black; }
@media (max-width: 767px) {
  .our-playrs .playr-box .playr-img {
    height: 296px; } }
.our-playrs .playr-box .playr-title {
  color: #666;
  font-weight: normal; }
.our-playrs .playr-box .playr-title span {
  font-weight: bold;
  text-align: center;
  text-decoration: underline; }
.our-playrs .playr-box .playr-desc {
  color: #777;
  line-height: 2.5; }
.our-playrs .playr-box .link {
  color: #e2494c;
  text-decoration: none; }
.our-playrs .playr-box .btn {
  width: 116px;
  height: 31px;
  border-radius: 10px;
  background-color: pink;
  margin-bottom: 10px; }

.lorem-ipsum .lorem-box {
  float: left;
  width: 31.3333333333%; }
.lorem-ipsum .lorem-box:not(:last-of-type) {
  margin-right: 3%; }
.lorem-ipsum .lorem-box .lorem-img {
  max-width: 100%; }

.main-button {
  background-color: rgba(255, 192, 203, 0.8);
  color: #fff;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
.main-button:hover {
  background-color: pink; }

.the-toggler {
  background-color: pink;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  display: none; }
@media (max-width: 767px) {
  .the-toggler {
    display: block; } }
.the-toggler span {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff; }
.the-toggler span:not(:last-child) {
  margin-bottom: 5px; }

.footer {
  background-color: #e2e2e2;
  overflow-x: hidden;
  padding-top: 30px;
  margin-top: 50px; }
.footer .contact {
  float: left;
  width: 40%; }

.flex {
  display: flex;
  justify-content: space-between; }
@media (max-width: 767px) {
  .flex {
    display: block; }
  .flex .contact {
    width: 100%; }
  .flex .cont {
    width: 100%; } }
@media (min-width: 768px) {
  .flex {
    display: block; }
  .flex .contact {
    width: 100%; }
  .flex .cont {
    width: 100%; } }
@media (min-width: 992px) {
  .flex {
    display: flex; } }

@media (min-width: 768px) {
  .contact {
    width: 50%; } }
@media (min-width: 992px) {
  .contact {
    width: 25%; } }
.contact input[type="text"], .contact input[type="email"], .contact textarea {
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 100%; }
.contact textarea {
  height: 140px; }

.section-title {
  color: #444;
  font-weight: normal; }

.cont {
  float: left; }

.copyright {
  padding: 25px 0px;
  border-top: 1px solid #c5c5c5;
  overflow: hidden;
  color: #888;
  margin-top: 30px; }
.copyright .text, .copyright .author {
  float: left;
  width: 50%; }
.copyright .author {
  text-align: right; }

/*# sourceMappingURL=homepage.css.map */
